@import "compass/reset";
@import "compass/css3";

@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?pbrsmj');
  src: url('fonts/icomoon.eot?#iefixpbrsmj') format('embedded-opentype'),
  url('fonts/icomoon.woff?pbrsmj') format('woff'),
  url('fonts/icomoon.ttf?pbrsmj') format('truetype'),
  url('fonts/icomoon.svg?pbrsmj#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-size: 18px;
  background: #323232;
  color: white;
}

.inline-block {
  display: inline-block;
}

div {
  border-radius: 3px;
}

button {
  border: aliceblue;
  border-radius: 3px;
}

.top:after {

  content: '';
  display: block;
  clear: both;
}

.logo {
  width: 30px;
  height: 30px;
  vertical-align: middle;
  margin-left: 10%;
  margin-right: 1%;

}

.seperator {
  border-width: 1px;
  border-color: #5c5c5c;
  height: 12px;
  border-style: solid;
  vertical-align: middle;
  margin-left: 1%;

}

.top-left {
  float: left;
  display: inline-block;
  width: 50%;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
  margin-left: 5%;
}

.search-input {
  background: #5c5c5c;
  color: #b6b6b6;;
  border: 0;
  height: 20px;
  width: 25%;
  margin-left: 1%;
  padding-left: 0.5%;
  margin-top: 0.6%;
}

.icon-search:before {
  content: "\e986";
  margin-left: -18px;
  color: #a4a4a4;
  font-size: 8px

}

.top-right {
  float: right;
  width: 25%;
  margin-top: 0.85%;
  margin-bottom: 0.5%;
}

.head-right-but1 {
  background-color: orange;
  color: white;
  height: 24px;
  width: 54px;
  margin-top: 0.6%;
  border: aliceblue;
  border-radius: 3px;

}

.head-right-but2 {
  background-image: url(../images/hd-icn.svg);
  background-color: orange;
  background-size: 53%;
  background-position: 46% 44%;
  background-repeat: no-repeat;
  vertical-align: middle;
  width: 30px;
  height: 24px;
  margin-top: 2px
}

.header-pic {
  width: 24px;
  height: 24px;
  vertical-align: middle;
  margin-left: 3%;
}

nav {
  background: #5c5c5c;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 83px;
}

nav ul {
  margin-left: 4.5%;
}

nav ul li {
  float: left;
  margin-right: 5%;
}

a {
  color: #b6b6b6;
  text-decoration: none;
}

ul:after {
  content: '';
  display: block;
  clear: both;
}

.main {
  background-image: url(../images/bg.jpg);
  display: inline-block;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  opacity: 0.9;
  text-align: center;
  color: white;
}

.main-top p {
  margin-bottom: 1%;
}

.center-body-pics {
  background-image: url(../images/hills-browser-scr-1x.png);
  width: 70%;
  height: 450px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  content: "";
  display: inline-block;
  position: relative;

}

.phone-pic {
  background-image: url("../images/hills-mobile-scr-1x.png");
  width: 16%;
  height: 50%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  content: "";
  display: inline-block;
  position: absolute;
  left: -8%;
  bottom: 0%

}

.pad-pic {
  background-image: url(../images/hills-tablet-scr-1x.png);
  width: 35%;
  height: 30%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  content: "";
  display: inline-block;
  position: absolute;
  bottom: 0%;
  right: -15%;
}

.main-buttons {
  margin-top: 2%;
  margin-bottom: 4%;
}

.main-but1 {
  background-image: url(../images/linkedin-logo-isolated.png);
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: 8px 8px;
  background-color: #0076B4;
  height: 40px;
  line-height: 40px;
  color: white;
}

.main-but1-content {
  margin-left: 40px;
  margin-right: 4px;
}

.main-but2 {
  display: inline-block;
  margin-left: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  height: 40px;
  width: 80px;
  background-color: transparent;
  color: white;
}

.main-top {
  margin-top: 30px;
}

.center-body-top p {
  margin-bottom: 20px;
}

.first-line {
  font-size: 30px;
}

.linkedin {
  height: 15px;
  width: 15px;
  margin: 4px 0px -4px 9px

}

.create-now-center {
  display: inline-block;
  vertical-align: middle;
  padding: 10px 7px 8px 5px;
}

.footer p {
  text-align: center;
  margin-top: 20px;
  line-height: 133%;
  margin-bottom: 3%;

}

.bottom-seperator {
  border-color: #909090;
  border-style: solid;
  border-bottom-width: 1px;
  width: 5%;
  margin: auto;
}

.footer-list li {
  float: left;
  text-align: center;
  margin-left: 12%;

}

.footer-line-sep {
  color: #9b9b9b;
  line-height: 88px;
  height: 88px;
  font-size: 42px;
  margin-left: 5%;
  opacity: 0.5;
}

.footer-list {
  margin-bottom: 2%;
  margin-top: 2%;
}

.bottom-detail {
  font-size: 15px;
  color: #909090;
  margin-top: 1%;
}

.footer-button {
  background-color: white;
  width: 140px;
  margin: auto;
  height: 34px;
  line-height: 34px;
  color: #0076B4;
}

.bottom-linkedin-div {
  background-color: #0076B4;
  background-image: url(../images/linkedin-logo-isolated.png);
  background-size: 18px 18px;
  background-position: 3px 3px;
  background-repeat: no-repeat;
  content: "";
  width: 24px;
  height: 24px;
  margin: 4px 5px 4px 4px;
  vertical-align: middle;
}

.linkedin-pic-bottom {
  height: 15px;
  width: 15px;
  margin: 1px 2px 0px 2px;
}

.create-now-bottom {
  color: #0076B4;

}

footer {
  font-size: 8px;
  color: #909090;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 15px;
}