/* line 5, ../../../../../.rvm/gems/ruby-2.0.0-p481/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rvm/gems/ruby-2.0.0-p481/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rvm/gems/ruby-2.0.0-p481/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rvm/gems/ruby-2.0.0-p481/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rvm/gems/ruby-2.0.0-p481/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rvm/gems/ruby-2.0.0-p481/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rvm/gems/ruby-2.0.0-p481/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rvm/gems/ruby-2.0.0-p481/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rvm/gems/ruby-2.0.0-p481/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?pbrsmj");
  src: url("fonts/icomoon.eot?#iefixpbrsmj") format("embedded-opentype"), url("fonts/icomoon.woff?pbrsmj") format("woff"), url("fonts/icomoon.ttf?pbrsmj") format("truetype"), url("fonts/icomoon.svg?pbrsmj#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 15, ../sass/style.scss */
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 29, ../sass/style.scss */
body {
  font-size: 18px;
  background: #323232;
  color: white;
}

/* line 35, ../sass/style.scss */
.inline-block {
  display: inline-block;
}

/* line 39, ../sass/style.scss */
div {
  border-radius: 3px;
}

/* line 43, ../sass/style.scss */
button {
  border: aliceblue;
  border-radius: 3px;
}

/* line 48, ../sass/style.scss */
.top:after {
  content: '';
  display: block;
  clear: both;
}

/* line 55, ../sass/style.scss */
.logo {
  width: 30px;
  height: 30px;
  vertical-align: middle;
  margin-left: 10%;
  margin-right: 1%;
}

/* line 64, ../sass/style.scss */
.seperator {
  border-width: 1px;
  border-color: #5c5c5c;
  height: 12px;
  border-style: solid;
  vertical-align: middle;
  margin-left: 1%;
}

/* line 74, ../sass/style.scss */
.top-left {
  float: left;
  display: inline-block;
  width: 50%;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
  margin-left: 5%;
}

/* line 83, ../sass/style.scss */
.search-input {
  background: #5c5c5c;
  color: #b6b6b6;
  border: 0;
  height: 20px;
  width: 25%;
  margin-left: 1%;
  padding-left: 0.5%;
  margin-top: 0.6%;
}

/* line 94, ../sass/style.scss */
.icon-search:before {
  content: "\e986";
  margin-left: -18px;
  color: #a4a4a4;
  font-size: 8px;
}

/* line 102, ../sass/style.scss */
.top-right {
  float: right;
  width: 25%;
  margin-top: 0.85%;
  margin-bottom: 0.5%;
}

/* line 109, ../sass/style.scss */
.head-right-but1 {
  background-color: orange;
  color: white;
  height: 24px;
  width: 54px;
  margin-top: 0.6%;
  border: aliceblue;
  border-radius: 3px;
}

/* line 120, ../sass/style.scss */
.head-right-but2 {
  background-image: url(../images/hd-icn.svg);
  background-color: orange;
  background-size: 53%;
  background-position: 46% 44%;
  background-repeat: no-repeat;
  vertical-align: middle;
  width: 30px;
  height: 24px;
  margin-top: 2px;
}

/* line 132, ../sass/style.scss */
.header-pic {
  width: 24px;
  height: 24px;
  vertical-align: middle;
  margin-left: 3%;
}

/* line 139, ../sass/style.scss */
nav {
  background: #5c5c5c;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 83px;
}

/* line 146, ../sass/style.scss */
nav ul {
  margin-left: 4.5%;
}

/* line 150, ../sass/style.scss */
nav ul li {
  float: left;
  margin-right: 5%;
}

/* line 155, ../sass/style.scss */
a {
  color: #b6b6b6;
  text-decoration: none;
}

/* line 160, ../sass/style.scss */
ul:after {
  content: '';
  display: block;
  clear: both;
}

/* line 166, ../sass/style.scss */
.main {
  background-image: url(../images/bg.jpg);
  display: inline-block;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  opacity: 0.9;
  text-align: center;
  color: white;
}

/* line 177, ../sass/style.scss */
.main-top p {
  margin-bottom: 1%;
}

/* line 181, ../sass/style.scss */
.center-body-pics {
  background-image: url(../images/hills-browser-scr-1x.png);
  width: 70%;
  height: 450px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  content: "";
  display: inline-block;
  position: relative;
}

/* line 193, ../sass/style.scss */
.phone-pic {
  background-image: url("../images/hills-mobile-scr-1x.png");
  width: 16%;
  height: 50%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  content: "";
  display: inline-block;
  position: absolute;
  left: -8%;
  bottom: 0%;
}

/* line 207, ../sass/style.scss */
.pad-pic {
  background-image: url(../images/hills-tablet-scr-1x.png);
  width: 35%;
  height: 30%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  content: "";
  display: inline-block;
  position: absolute;
  bottom: 0%;
  right: -15%;
}

/* line 220, ../sass/style.scss */
.main-buttons {
  margin-top: 2%;
  margin-bottom: 4%;
}

/* line 225, ../sass/style.scss */
.main-but1 {
  background-image: url(../images/linkedin-logo-isolated.png);
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: 8px 8px;
  background-color: #0076B4;
  height: 40px;
  line-height: 40px;
  color: white;
}

/* line 236, ../sass/style.scss */
.main-but1-content {
  margin-left: 40px;
  margin-right: 4px;
}

/* line 241, ../sass/style.scss */
.main-but2 {
  display: inline-block;
  margin-left: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  height: 40px;
  width: 80px;
  background-color: transparent;
  color: white;
}

/* line 253, ../sass/style.scss */
.main-top {
  margin-top: 30px;
}

/* line 257, ../sass/style.scss */
.center-body-top p {
  margin-bottom: 20px;
}

/* line 261, ../sass/style.scss */
.first-line {
  font-size: 30px;
}

/* line 265, ../sass/style.scss */
.linkedin {
  height: 15px;
  width: 15px;
  margin: 4px 0px -4px 9px;
}

/* line 272, ../sass/style.scss */
.create-now-center {
  display: inline-block;
  vertical-align: middle;
  padding: 10px 7px 8px 5px;
}

/* line 278, ../sass/style.scss */
.footer p {
  text-align: center;
  margin-top: 20px;
  line-height: 133%;
  margin-bottom: 3%;
}

/* line 286, ../sass/style.scss */
.bottom-seperator {
  border-color: #909090;
  border-style: solid;
  border-bottom-width: 1px;
  width: 5%;
  margin: auto;
}

/* line 294, ../sass/style.scss */
.footer-list li {
  float: left;
  text-align: center;
  margin-left: 12%;
}

/* line 301, ../sass/style.scss */
.footer-line-sep {
  color: #9b9b9b;
  line-height: 88px;
  height: 88px;
  font-size: 42px;
  margin-left: 5%;
  opacity: 0.5;
}

/* line 310, ../sass/style.scss */
.footer-list {
  margin-bottom: 2%;
  margin-top: 2%;
}

/* line 315, ../sass/style.scss */
.bottom-detail {
  font-size: 15px;
  color: #909090;
  margin-top: 1%;
}

/* line 321, ../sass/style.scss */
.footer-button {
  background-color: white;
  width: 140px;
  margin: auto;
  height: 34px;
  line-height: 34px;
  color: #0076B4;
}

/* line 330, ../sass/style.scss */
.bottom-linkedin-div {
  background-color: #0076B4;
  background-image: url(../images/linkedin-logo-isolated.png);
  background-size: 18px 18px;
  background-position: 3px 3px;
  background-repeat: no-repeat;
  content: "";
  width: 24px;
  height: 24px;
  margin: 4px 5px 4px 4px;
  vertical-align: middle;
}

/* line 343, ../sass/style.scss */
.linkedin-pic-bottom {
  height: 15px;
  width: 15px;
  margin: 1px 2px 0px 2px;
}

/* line 349, ../sass/style.scss */
.create-now-bottom {
  color: #0076B4;
}

/* line 354, ../sass/style.scss */
footer {
  font-size: 8px;
  color: #909090;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 15px;
}
