/* line 5, ../../../../../.rvm/gems/ruby-2.0.0-p481/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rvm/gems/ruby-2.0.0-p481/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rvm/gems/ruby-2.0.0-p481/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rvm/gems/ruby-2.0.0-p481/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rvm/gems/ruby-2.0.0-p481/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rvm/gems/ruby-2.0.0-p481/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rvm/gems/ruby-2.0.0-p481/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rvm/gems/ruby-2.0.0-p481/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rvm/gems/ruby-2.0.0-p481/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?pbrsmj");
  src: url("fonts/icomoon.eot?#iefixpbrsmj") format("embedded-opentype"), url("fonts/icomoon.woff?pbrsmj") format("woff"), url("fonts/icomoon.ttf?pbrsmj") format("truetype"), url("fonts/icomoon.svg?pbrsmj#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 15, ../sass/style.scss */
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 29, ../sass/style.scss */
body {
  font-size: 12px;
  background: #323232;
  color: white;
}

/* line 35, ../sass/style.scss */
div {
  border-radius: 3px;
}

/* line 39, ../sass/style.scss */
header:after {
  content: '';
  display: block;
  clear: both;
}

/* line 46, ../sass/style.scss */
.inline-block {
  display: inline-block;
}

/* line 50, ../sass/style.scss */
.logo {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-left: 10%;
  margin-right: 2%;
  margin-top: 0.6%;
  margin-bottom: 0.6%;
}

/* line 61, ../sass/style.scss */
.search-input {
  background: #5c5c5c;
  color: #a4a4a4;
  border: 0;
  height: 20px;
  margin-left: 1%;
  padding-left: 0.5%;
  margin-top: 1.1%;
}

/* line 71, ../sass/style.scss */
.icon-search:before {
  content: "\e986";
  margin-left: -18px;
  color: #a4a4a4;
  font-size: 8px;
}

/* line 78, ../sass/style.scss */
.top-left {
  float: left;
  display: inline-block;
  width: 50%;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
}

/* line 85, ../sass/style.scss */
.top-right {
  float: right;
  width: 20%;
  margin-top: 0.8%;
}

/* line 91, ../sass/style.scss */
.top_button {
  background-color: orange;
  color: white;
  height: 20px;
  margin-top: 0.6%;
  border: aliceblue;
}

/* line 100, ../sass/style.scss */
.head-right-img-div {
  background-image: url(/images/hd-icn.svg);
  display: inline-block;
  background-color: orange;
  /* background-size: 86% 64%; */
  background-position: 50% 23%;
  background-repeat: no-repeat;
  vertical-align: middle;
  width: 20%;
  height: 20px;
  text-align: center;
  content: "";
  margin-right: 10%;
  margin-left: 1%;
}

/* line 116, ../sass/style.scss */
.head-right-img {
  margin-top: 2px;
  width: 13px;
}

/* line 121, ../sass/style.scss */
nav {
  background: #5c5c5c;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 83px;
}

/* line 128, ../sass/style.scss */
nav span {
  margin-left: 14px;
  margin-right: 13px;
  color: #d1d1d1;
}

/* line 134, ../sass/style.scss */
.center-body {
  background-image: url(/images/bg.jpg);
  display: inline-block;
  height: 50%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  opacity: 0.9;
  text-align: center;
  color: white;
}

/* line 146, ../sass/style.scss */
.center-body-pics {
  background-image: url(/images/hills-browser-scr-1x.png);
  width: 60%;
  height: 320px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  content: "";
  display: inline-block;
  position: relative;
}

/* line 158, ../sass/style.scss */
.phone-pic {
  background-image: url(/images/hills-mobile-scr-1x.png);
  width: 20%;
  height: 50%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  content: "";
  display: inline-block;
  position: absolute;
  left: -9%;
  bottom: 0%;
}

/* line 172, ../sass/style.scss */
.pad-pic {
  background-image: url(/images/hills-tablet-scr-1x.png);
  width: 35%;
  height: 28.5%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  content: "";
  display: inline-block;
  position: absolute;
  bottom: 0%;
  right: -15%;
}

/* line 185, ../sass/style.scss */
.center-in {
  background-color: #0076B4;
  display: inline-block;
  line-height: 16px;
  height: 16px;
  width: 10%;
  padding: 4px 4px 6px 5px;
}

/* line 195, ../sass/style.scss */
.center-in:before {
  background-image: url(/images/linkedin-logo-isolated.png);
  width: 12px;
  height: 12px;
  background-size: 12px 12px;
  background-position: 0px 0px;
  background-repeat: no-repeat;
  content: "";
  display: inline-block;
  line-height: 20px;
  margin-right: 5px;
  margin-bottom: 2px;
  vertical-align: middle;
}

/* line 212, ../sass/style.scss */
.center-body-top {
  margin-top: 30px;
}

/* line 216, ../sass/style.scss */
.center-body-top p {
  margin-bottom: 20px;
}

/* line 220, ../sass/style.scss */
.first-line {
  font-size: 30px;
}

/* line 224, ../sass/style.scss */
.linkedin {
  height: 15px;
  width: 15px;
  margin: 4px 0px -4px 9px;
}

/* line 231, ../sass/style.scss */
.create-now-center {
  display: inline-block;
  vertical-align: middle;
  padding: 10px 7px 8px 5px;
}

/* line 237, ../sass/style.scss */
.center-thanks {
  display: inline-block;
  margin-left: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  vertical-align: middle;
  height: 26px;
  line-height: 26px;
  width: 8%;
}

/* line 249, ../sass/style.scss */
.bottome-first-line {
  text-align: center;
  margin-top: 20px;
  line-height: 133%;
}

/* line 255, ../sass/style.scss */
.bottom-seperator {
  border-style: solid;
  border-width: 0.8px;
  border-color: #656565;
  width: 25px;
  margin: auto;
  margin-top: 20px;
}

/* line 264, ../sass/style.scss */
.bottome-second-line {
  text-align: center;
  margin-top: 5px;
}

/* line 269, ../sass/style.scss */
.bottom-detail {
  font-size: 9px;
  color: #909090;
}

/* line 274, ../sass/style.scss */
.bottom-part {
  display: inline-block;
  margin: 11px 30px 20px 30px;
}

/* line 280, ../sass/style.scss */
.bottom-last-line {
  background-color: white;
  width: 100px;
  margin: auto;
  height: 34px;
  line-height: 34px;
  color: #0076B4;
}

/* line 289, ../sass/style.scss */
.bottom-linkedin-div {
  background-color: #0076B4;
  background-image: url(/images/linkedin-logo-isolated.png);
  background-size: 18px 18px;
  background-position: 3px 3px;
  background-repeat: no-repeat;
  content: "";
  width: 24px;
  height: 24px;
  margin: 4px 5px 4px 4px;
  vertical-align: middle;
}

/* line 302, ../sass/style.scss */
.linkedin-pic-bottom {
  height: 15px;
  width: 15px;
  margin: 1px 2px 0px 2px;
}

/* line 308, ../sass/style.scss */
.create-now-bottom {
  color: #0076B4;
}

/* line 313, ../sass/style.scss */
footer {
  font-size: 8px;
  color: #909090;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 15px;
}
